@supports (-ms-ime-align: auto) {
  /* Edge-specific CSS */
  #audio {
    width: 100%;
  }
}

.card_border {
  width: 21rem;
  .card_img {
    width: 100%;
    height: 200px;
  }
  .card_body {
    display: flex;
    align-items: Center;
    flex-direction: column;

    .card-title {
      font-size: 15px;
      margin-bottom: 3px;
    }

    .card-text {
      font-size: 15px;
      margin-bottom: 4px;
    }
    .relative_title {
      width: 100%;
      .title-container {
        overflow: hidden;
        white-space: nowrap;
        position: relative;
        width: 100%;
        padding: 5px 0 20px 0;

        .music-title {
          position: absolute;
          animation-name: moveLeft 10s linear infinite;
        }
      }
    }
  }

  @keyframes moveLeft {
    0% {
      left: 100%;
    }
    100% {
      left: -100%; /* Move the title outside the container width */
    }
  }

  .audioContainer {
    margin: 5px 15px 5px 15px;
    gap: 3px;

    .audio {
      height: 30px;
      width: 100%;
    }
  }
}

.accordion_item {
  padding: 0;
  height: 100%;
  .accordion_info {
    padding: 0;
  }
}

.delete {
  border-radius: 100%;
  color: white;
  font-weight: bold;
  font-size: 25px;
  cursor: pointer;
  padding-bottom: 3%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

@media (max-width: 509px) {
  .card_border {
    width: 18rem;
    .card_img {
      width: 100%;
      height: 160px;
    }
    .card_body {
      display: flex;
      align-items: Center;
      flex-direction: column;

      .audioContainer {
        margin: 5px 15px 5px 15px;
        gap: 3px;

        .bt_n {
          font-size: 17px;
          padding: 3px;
        }
        .audio {
          height: 30px;
          width: 100%;
        }
      }
    }
    .accordion_item {
      padding: 0;
      margin: 0;
      .accordion_info {
        padding: 0;
      }
    }
  }
}
